.carousel-item {
  position: relative;
}

.carousel-item .caption {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.485);
  color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  width: 100%; /* set width to 100% */
  max-width: 300px; /* set maximum width to 500px or adjust as needed */
  margin: 0 auto; /* center the caption horizontally */
  text-align: center;
}

/* .carousel-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 100px;
  -webkit-mask-image: radial-gradient(
    ellipse farthest-corner at center,
    rgba(0, 0, 0, 1) 60%,
    rgba(0, 0, 0, 0) 70%
  );
  mask-image: radial-gradient(
    ellipse farthest-corner at center,
    rgba(0, 0, 0, 1) 70%,
    rgba(0, 0, 0, 0) 90%
  );
} */
